@import "typographie";

body{
	background-size: $Hligne $Hligne;
	@include background-image(linear-gradient(top,#fff, #fff 96%,#efefef 97%));
	background-position: 0 -6px;
}
.container {
	width: 640px;
	margin: 0 auto;
	padding: 0 10px;
	padding-top: 20px;
}
img {
	@include border-radius(5px);
}
img.alignleft {
	margin-right: 20px;
	float: left;
}
img.alignright {
	float: right;
	margin-left: 20px;
}
p{
	text-align: justify;
}